@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
}

.container {
    padding: 0;
}

main {
    padding: 0;
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position:inherit;
    background-repeat: no-repeat;
}

#navbar {
    height: 35%;
}

#navbar-brand {
    color: #f5f3f4;
    font-family: 'Alata', sans-serif;
}

#navlinks li a {
    color: white;
    margin: 0 2rem;
    font-weight: 600;
    font-size: 1rem;
}

.second-inner-container {
    display: flex;
    /* height: 100%; */
    /* position: absolute; */
}

#center-square {
    align-items: center;
    border: 0.2rem solid white;
    margin: 0 auto;
    height: 16rem;
    width: 21rem;
}

#center-square h1 {
    color: #f5f3f4;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px 27px;
}

.section-divs {
    margin-bottom: 5rem;
    padding: 0;
}

/* Second section */

#vr-div {
    width: 100%;
    padding-top: 2rem;

}

#vr-img {
    width: 100vw;
    padding: 2rem 2rem;
}

#info-div {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#info-header {
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#info-text {
    font-size: 1rem;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    padding: 0 2rem;
    line-height: 2rem;
}

/* Cards section */

#card-header {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
}

.cards:nth-of-type(1) {
    background-image: url(../images/mobile/image-deep-earth.jpg);
}

.cards:nth-of-type(2) {
    background-image: url(../images/mobile/image-night-arcade.jpg);
}

.cards:nth-of-type(3) {
    background-image: url(../images/mobile/image-soccer-team.jpg);
}

.cards:nth-of-type(4) {
    background-image: url(../images/mobile/image-grid.jpg);
}

.cards:nth-of-type(5) {
    background-image: url(../images/mobile/image-from-above.jpg);
}

.cards:nth-of-type(6) {
    background-image: url(../images/mobile/image-pocket-borealis.jpg);
}

.cards:nth-of-type(7) {
    background-image: url(../images/mobile/image-curiosity.jpg);
}

.cards:nth-of-type(8) {
    background-image: url(../images/mobile/image-fisheye.jpg);
}

.cards {
    height: 30vw;
    width: 100vw;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text {
    color: hsl(0, 0%, 100%);
    /* margin: 2rem 0; */
    padding: 2rem 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    /* display: inline-block; */
}

/* night arcade text with background color faded white */
#night-arcade {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.85em 1rem;
}

.btn {
    display: flex;
    justify-content: center;
}

#button {
    margin: 1rem auto;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 1px;
    width: 8rem;
    letter-spacing: 0.2rem;
}

ul {
    margin: 0;
    padding: 0;
}

#footer-list, #footer-list > a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 1.5rem 0;
}

.footer {
    background-color: black;
    overflow: hidden;
    text-align: center;
}

#footer-heading {
    color: #f5f3f4;
    margin: 2rem 0;
    font-family: 'Alata', sans-serif;

}

.icons {
    margin-bottom: 1.5rem;
}

.icon {
    margin: 0 0.8rem;
}

/* MID SIZE */

@media (min-width: 576px) {

    #navbar-brand {
        font-size: 2rem;
    }

    #navlinks li a {
        color: white;
        font-size: 1.5rem;
    }

    main {
        padding: 0;
        height: 100vh;
        max-width: 100%;
        background-image: url(../images/mobile/image-hero.jpg);
    }

    #center-square {
        align-items: center;
        border: 0.2rem solid white;
        /* margin: 0 auto; */
        height: 21rem;
        width: 26rem;
        /* padding: 2rem 1.2rem; */
    }
    
    #center-square h1 {
        font-size: 3.5rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        margin: 6%;
        /* margin: 30px 27px; */
    }
    
    #vr-div {
        display: flex;
        justify-content: center;
    }

    #vr-img {
        /* max-width: 80vw; */
        padding: 2rem 1rem;
    }

    #info-text {
        padding: 0 5rem;
    }

    .card-text {
        font-size: 2.5rem;
    }

}

/* DESKTOP SIZE */
@media (min-width: 1440px) {
    #navbar-brand {
        font-size: 2.5rem;
    }

    #navbar{
        padding: 0;
        margin: 0 8rem;
        height: 25%;
    }
    main {
        background-image: url(../images/desktop/image-hero.jpg);
        background-size: cover;
        background-position:initial;
        background-repeat: no-repeat;
    }
    
    .second-inner-container {
        height: 80%;
    }

    #center-square {
        border: 0.2rem solid white;
        margin: 5rem 0 0 18rem;
        width: 50%;
        height: 53%;
    }
    
    #center-square h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 5.5rem;
        font-weight: 300;
        text-transform: uppercase;
        /* margin: 30px 27px; */
    }

    #second-section {
        position: relative;
        padding: 2rem 35rem 0 15rem;
    }

    #info-div {
        width: 40rem;
        height: 25.1rem;
        padding: 5rem 2rem 2rem;
        background-color: white;
        position: absolute;
        top: 49%;
        left: 57%;
        text-align: start;
    } 

    #info-header {
        font-size: 2.8rem;
        padding-left: 2.8rem;
        letter-spacing: 1px;
    }

    #info-text {
        padding: 0 3rem;
        font-size: 1rem;
    }

    #card-header {
        font-size: 2.5rem;
        
    }

    #card-container {
        padding: 0 13rem;
        max-width: 100vw;
        display: flex;
        flex-flow: wrap;
    }
    
    .cards {
        max-width: 250px;
        height: 400px;
        margin: 50px;
        background-size: cover;
    }

    .card-text {
        font-size: 1rem;
    }

    .cards:nth-of-type(1) {
        background-image: url(../images/desktop/image-deep-earth.jpg);
    }
    
    .cards:nth-of-type(2) {
        background-image: url(../images/desktop/image-night-arcade.jpg);
    }
    
    .cards:nth-of-type(3) {
        background-image: url(../images/desktop/image-soccer-team.jpg);
    }
    
    .cards:nth-of-type(4) {
        background-image: url(../images/desktop/image-grid.jpg);
    }
    
    .cards:nth-of-type(5) {
        background-image: url(../images/desktop/image-from-above.jpg);
    }
    
    .cards:nth-of-type(6) {
        background-image: url(../images/desktop/image-pocket-borealis.jpg);
    }
    
    .cards:nth-of-type(7) {
        background-image: url(../images/desktop/image-curiosity.jpg);
    }
    
    .cards:nth-of-type(8) {
        background-image: url(../images/desktop/image-fisheye.jpg);
    }

    
}